 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<!DOCTYPE html>
<html>
    <head><title>Icsalegsp</title></head>
    <body>
        <h1 align="center">Icsale</h1>
        <form method="post" action="/">
        <p 
        align="center"> Enter predictor: &nbsp;&nbsp;<input type="text" name="number1_1" value="{{number1_1}}" /> 
        <input type="submit" value="Submit"></p></p>
        <p 
        align="center"> Result:&nbsp;&nbsp; <input type="text" name="result_1" value="{{result_1}}" / readonly></p></p>
        </form>
    </body>
</html>
